@import url('https://fonts.googleapis.com/css?family=Cinzel:900');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vibur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

html {
	font-family: Arial;
	height:100%;
	overflow:auto;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Firefox */
	    -ms-user-select: none; /* Internet Explorer/Edge */
	        user-select: none; /* Non-prefixed version, currently*/
}

body {
	min-height:100%;
    	margin: 0;
    	background: #8B3828;/*#984029;*//*#8E3624;*/
	transition:0.8s;
	overflow: hidden;
	box-shadow: inset 0 0 500px black;
	margin:0px;
}

a {
	color:#701010;
	text-decoration:none;
}

a:hover {
	text-shadow: 0 0 4px #C02525; transition:0.3s;

}

.continue-link
{
	color:#4DDD79; font-weight:100; font-size:36px;
}

.continue-link:hover
{
	text-shadow:0 0 12px #111; transition:0.3s;
}

.image-banner {
	height: 60px; width: 250px; 
	position: absolute; left: 50%;
	margin-left: -350px; margin-top: 50px;
	opacity: 0.6;
	color: #FFF;
	font-size: 22px; font-weight: bold;
	text-shadow: 0px 0px 4px #000;
	text-align: center;
	white-space: nowrap;
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	transform: rotate(-15deg);
}

#teamshot {
	position: absolute; z-index: -1;
	width: 1024px; height: 543px;
	left: 50%; margin-left: -512px;
	top: 50%; margin-top: -165px;
	opacity: 0.5;
	pointer-events: none;
	border: 3px solid #feffd4;
	border-radius: 5px;
}

p {
	color:#feffd4;
	font-weight:bold;
	font-family:'verdana';
	font-size:18px;
	padding:0;padding-top:6px; line-height:1; margin:0;
}

.quotes {
	color:#3508bd;
}


/*******************/
/*   LAYOUT STUFF  */
/*******************/
#hint {
	position: absolute; display: none; margin-top: -20px; margin-left: 15px;
	width: auto; height: auto; max-width: 250px; min-height: 16px;
	font-size: 14px; color: #ddd; background-color: #333;
	border-radius: 10px; padding: 6px; text-align: center; padding-left: 8px; padding-right: 8px;
}

#free-box {
	position: fixed; top: 0; width: 100%; margin-top: 0px; padding-top: 10px; padding-bottom: 12px;
	font-size: 24px; /*left: 50%; margin-left: -150px;*/
	font-weight: bold; background-color: rgba(60,60,60,0.7); color: #EEE; border: 1px solid #333;
	border-radius: 0px 0px 0px 0px; z-index: 3; text-align: center;
}

#free-box:hover{
	background-color: #222;
}

#purchase-img {
	margin-top: 8px; opacity: 1; padding: 2px;
}

#purchase-img:hover {
	border: 1px solid #feffd6; padding: 1px; border-radius: 5px; cursor: pointer;
}

#home-body {
	height: 80%; margin-top: 7%;
}

#login-box {
	width: 600px; margin: 0 auto;
}

#logout-box {
	position: fixed; left:4px; top 4px;
	width: 40px; height: 40px; z-index: 10;
	padding: 1px;
}

#logout-box:hover {
	border: 1px solid #feffd6;
	border-radius: 5px; padding: 0px;
}

#go-button {
	margin-top: 16px;
	width: 200px; height: 44px; font-size: 32px; font-weight: bold;
       	color: #222; font-family: 'courgette',cursive;
}

#new-user {
	position: fixed; left: 50%;
	top: 300px; width: 500px; margin-left: -850px;
	z-index: 11; font-family: 'Courgette',cursive;
	font-size: 80px; color: #66AA77;
}

#home-title {
	width: 100%; height: 220px;
	text-align: center;
	padding-bottom: 16px;
	/*border-bottom: 1px solid #feffd6;*/
}

#home-title-top {
	font-size:150px;
	font-weight:bold;
	padding-top:15px;
	/*font-family: 'Cinzel', serif;*/
	font-family: 'Bangers', cursive;
	color:#feffd4;
	text-align:center;
	height:auto;
	line-height:100px;
	margin-top:50px; margin-left:-12px;
	transform: rotate(-2deg);
	letter-spacing: 12px; transition:0.8s;
	text-shadow:6px 6px 0px #222; transition:0.8s;
}

#home-title-sub {
	font-size:27px; font-weight:bold;
	color:#333; color: #15602C;
	font-family: 'Vibur', cursive;
	text-align:center;
	line-height:130%;
	transition:0.8s;
}

#home-div {
	margin: auto;
	width: 100%; min-height: auto; margin-top:10px;
	top: 0; bottom: 0; right: 0; padding-bottom: 20px; overflow: hidden;
}

#credits-div {
	margin: 0 auto; width: 500px; color: #CCC; font-size: 28px;
	line-height: 120%; text-align: center; height: 650px; overflow: hidden; z-index:2;
	overflow-y:hidden;
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
}

.name {
	font-style: italic; font-size: 24px;
}

.credits-scroll {
	z-index: 1;
	position: relative; height:auto; overflow: hidden; overflow-y: hidden;
	-moz-transform: translateY(40%);
	-webkit-transform: translateY(40%);
	transform: translateY(40%);
	-moz-animation: scroll-up 24s linear infinite;
	-webkit-animation: scroll-up 24s linear infinite;
	animation: scroll-up 24s linear infinite;
}
.credits-scroll:hover {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
	color: #FFF;
}


@-moz-keyframes scroll-up {
	0% { -moz-transform: translateY(40%); }
	100% { -moz-transform: translateY(-100%); }
}
@-webkit-keyframes scroll-up {
	0% { -webkit-transform: translateY(40%); }
	100% { -webkit-transform: translateY(-100%); }
}
@keyframes scroll-up {
	0% {
		-moz-transform: translateY(40%);
		-webkit-transform: translateY(40%);
		transform: translateY(40%);
	}
	100% {
		-moz-transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}

.home-nav {
	text-align: center; color: #999;
	font-family: 'Courgette', cursive;
	font-size: 40px; font-weight: bold;
	padding: 10px;
	transition:0.6s;
}

.home-nav:hover {
	color: #feffd6; cursor: pointer; background-color: #15602C;
}


.login-label {
	text-align: center; color: #CCEEFF;/*color: #FEFFD6;*/
	font-family: 'Courgette', cursive;
	font-size: 40px; font-weight: bold;
	padding: 10px;
	transition:0.6s;
}


.login-input {
	width: 100%; height: 60px; font-size: 45px; margin-top: 30px; margin-bottom: 30px;
	text-align: center; border: 0; border-bottom: 1px solid #CCEEFF;
	background-color: transparent; /*#feffd4;*/
	color: #feffd6;
}

.register-input {
	width: 60%; height: 34px; font-size: 22px;
	text-align: center; margin-left: 20%;
	background-color:#feffd4;
}

.register-label {
	text-align: center; color: #FEFFD6;
	font-family: 'Courgette', cursive;
	font-size: 30px;
	padding: 6px;
}

.title-box {
	min-width:100%; height:120px;
	top:0;
	margin-left:auto;
	margin-right:auto;
	z-index:2;
	padding:8px;
}

.title-top {
	width: 740px;
	font-size:95px;
	font-weight:bold;
	padding-top:15px;
	/*font-family: 'Cinzel', serif;*/
	font-family: 'Bangers', cursive;
	color:#feffd4;
	text-align:center;
	height:100%;
	margin-top:-6px; margin-left:-12px;
	line-height:100px; margin: 0 auto;
	transform: rotate(-2deg);
	letter-spacing: 12px; transition:0.8s;
	text-shadow:6px 6px 0px #222; transition:0.8s;
}

.title-top:hover {
	text-shadow:6px 6px 6px #000; cursor: pointer; color:#cceeff;
}

.title-main {
	font-size:50px;
	font-weight:bold;
	font-family: 'Courgette', cursive;
	color:#252525;
	color:#A50B1D;
	text-align:center;
	height:auto;
	line-height:100%;
	letter-spacing:0px;
	transition:0s;color:#333;
}

.title-sub {
	font-size:27px; font-weight:bold;
	color:#333;color: #15602C;
	font-family: 'Vibur', cursive;
	text-align:center;
	line-height:130%;
	transition:0s;color:#333;
}


.content-main {
	z-index:1;
	width:740px;
	height:auto; max-height:100%;
	margin-top:10px; margin-bottom:50px;
	margin-left:auto; margin-right:auto;
	padding:2px;
	box-shadow: 0px 0px 10px 4px #222;
	background-color: #eddfb7; /*0F000F*/
	transition:0s;
	background-image: url("/static/images/lightPaper.jpg");
	background-repeat: repeat;
}

.content-text {
	height:auto;
	font-size:17px; font-weight:normal;
	text-align:justify;
	margin:10px;
	overflow:auto;
	padding-left:35px; padding-right:35px; padding-bottom:10px;padding-top:14px;
	line-height:130%;
	transition:0s;
}

.char-quote {
	width:100%; height:auto; font-size:28px;
	color: #15602C; text-align:center;
	margin-top: 20px; margin-bottom: 20px;
	font-family: 'Courgette', cursive; line-height:130%;
	color:#222;
}

.char-image {
	max-width:680px; max-height:400px;
	/*background-color: rgb(152,64,41);*/
	float:right; margin-bottom:10px; margin-left:20px;
	display:inline-block;
	/*box-shadow: 0px 0px 7px 0px #222;*/
}

.char-image-img {
	height:400px; max-width:100%; overflow:hidden;
}

.char-sub-header {
	width: auto; margin:1%; margin-top: 16px; margin-bottom: 6px;
	border-bottom: 1px solid #333; color: #333;
	font-size: 20px; font-weight: bold; padding-bottom: 6px; padding-left: 10px;
	overflow:auto;
}

.next {
	color:#666; font-style:italic;
}

#chapterNumLabel {
	float:left;margin:0 auto;padding-left:40px; padding-right:40px;display:inline-block;margin:0 auto;
}

#pageNumLabel {
	float:left;padding-left:40px; padding-right:40px;display:inline-block;margin:0 auto;
}

#navLabel {
	float:left;padding-left:10px; padding-right:10px;display:inline-block;margin:0 auto;
	transition: 0.8s;
}

#navLabel:hover {
	background-color:#FFF;
}

#lightImage {
	float:left;width:30px; height:30px;padding-left:10px;padding-right:10px; display:inline-block;margin:0 auto;
	transition: 0.8s; margin-left: 3%;
}

#lightImage:hover {
	background-color:#FFF;
}


/*******************/
/*   NAVBAR STUFF  */
/*******************/
.fancy-nav-box {
	position: fixed; bottom: -74px;
	margin-left: -372px; left: 50%;
	height: 70px; width: 744px;
	background-color: #222; opacity:0.4;
	padding-top: 2px; padding-bottom: 2px; transition:0.5s;
	z-index: 5;
}
.fancy-nav-box:hover {
	opacity:1;
}

.fancy-nav-button {
	display:inline-block;
	float:left;
	width: 244px; height: 66px;
	margin: 2px;
	color: #feffd4;	font-size: 32px;
	transition: 0.4s;
	font-family: 'Bangers', cursive;
	text-shadow: 3px 3px 0px #222;
}

.fancy-nav-button:hover {
	background-color:#A50B1D; cursor: pointer;
}

.fancy-nav-image {
	background-color: red;
	width: 66px; height: 66px;
	margin: 2px; margin-left:10px; vertical-align: top;
}

.fancy-nav-text {
	width: 164px; height: 100%; display: inline-block; line-height: 100%;
	text-align:center; vertical-align: middle; margin-top: -4px;

}

#show-info {
	position: fixed;
	width: 738px; height: auto; max-height: 95%;
	left: 50%; margin-left: -372px;
	background-color: #222; color: #feffd6;
	padding: 4px; transition: 0.6s;
	z-index: 4;
}

#show-info:hover {
	opacity: 1;
}

.show-info-content {
	display: none;
	margin: 4px;
	text-align: center;
	font-family: 'Arial';
	columns: 358px 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

.show-info-row {
	width: 358px; height: auto; text-align: center;
	margin: 4px;
	font-size: 16px; color: #feffd6; transition: 0.3s;
	padding: 4px; padding-bottom: 6px;}

.show-info-row:hover {
	background-color: #15602C; cursor: pointer;
}

.footer-box {
	position:fixed;
	bottom:0; height:34px; width:100%;
	background-color:#222; text-align:center;
	padding-top:4px;
	z-index:6;
	opacity:0.7; transition: 0.5s;
}
.footer-box:hover {
	opacity:1;
}

.navbar {
	bottom:0;
	min-width:700px; height:32px; max-width:700px;
	z-index:3; text-align:center;
	display:inline-block;
}

.navbar-box:after {
	display:table;
	clear:both;
}

.navImage {
	transition:0.8s;

}

.navImage:hover {
	transform: rotate(360deg); filter: invert(30%); transition:0.8s;
}

#navButtons {
	float:left;padding-left:10px; padding-right:10px;
	margin-top: 2px;margin: 0 auto;
	width:auto; height:32px;display:inline-block;
}

.fontImage {
	float:left;
	width:30px;height:30px;
	border:1px solid #feffd4;
	border-radius:4px;

}

#fontSizes {
	width:auto; height:32px; float:left; padding-left:10px; padding-right:10px;
	text-align:center;margin:0 auto;
	bottom:2px;display:inline-block;
}

.fontImage {
	width:30px;height:30px;
	border:1px solid #feffd4;
	border-radius:4px;
}

.fontImage:hover {
	transform: rotate(360deg); filter: invert(30%); transition:0.8s;
}

#donate {
	position: fixed; bottom:0;
	left:50%; margin-left:140px; margin-bottom:34px;
	width:150px; height:30px; border-radius:8px 8px 0px 0px;
	background-color:#3e2a24; color:#AAA; border:1px solid #AAA; z-index:1;
	text-align:center; font-size:18px; padding-top:4px;transition:0.3s;
}

#donate:hover {
	border:1px solid #FFF; font-size:22px; padding:8px;
	cursor:pointer; transition:0.8s; filter:invert(100%);
}

#cpright {
	position: fixed; bottom: 1px; right: 4px;
	text-align: right; font-size: 9px; color: #FFF; z-index: 8;
}

/*******************/
/* CHARACTER STUFF */
/*******************/

.character-box {
	position: fixed;
	top:10%;left:1%;
	width: 120px; height: 120px;
	border-radius: 55px;
	border:4px solid #66BBFF;
	background:#000000;
	background-repeat:no-repeat;
    	background-attachment: fixed;
	background: linear-gradient(#190019 50%, #601060 85%, #881088);
	background-repeat:no-repeat;
    	background-attachment: fixed;
}

.firstword {
	font-weight:bold;
	font-size:24px;
	color:#440044;
	font-family: 'Cinzel', serif;
	padding-left:5px;
}


/********************/
/*  MOBILE SCREEN   */
/********************/
/*@media only screen and (orientation:portrait){*/
/*@media only screen and (max-device-width: 768px) {*/
@media screen and (min-device-width: 0px) and (max-device-width: 768px) and (orientation:portrait) {
	.title-box {
		height:30px;
	}

	.title-top {
		font-size:60px;
		margin-top:-20px;
		height:100%; width: 100%;
		letter-spacing: 2px; margin-left: -10px;
	}

	.title-main {
		height:auto;
		font-size:28px;
	}

	.title-sub {
		font-size:18px;
		font-weight:bold;
	}

	.content-main {
		width:98%; margin-top: 50px; margin-bottom: 78px;
	}

	.content-text {
		font-size:15px;
		padding:4px;
	}

	#lightImage {
		margin-left: 0;
	}

	#chapterNumLabel {
		padding-left:5px; padding-right:5px;
	}

	#pageNumLabel {
		padding-left:5px; padding-right:5px;
	}

	#navLabel {
		padding-left:10px; padding-right:10px;
	}

	#donate {
		margin-left:85px;
	}

	#donate {
	}

	.char-image {
		max-width:100%; max-height:300px;
		min-width:100%; min-height:140px;
		float:none; display:inline-block; text-align:center; margin:0 auto;
		box-shadow:none; margin-bottom:10px;
	}

	.char-image-img {
		height:300px; max-width:100%; overflow:hidden;
	}

	#logout-box {
		transform: scale(0.8); transform-origin: top left;
	}

	.footer-box {
		opacity: 1; height: 40px;
	}

	.navbar {
		width: 100%;
		transform: scale(0.9); transform-origin: top left;
	}

	.fancy-nav-box {
		opacity: 1; min-width: 100%; width: 100%;
		height: 60px; margin-bottom: 30px;
		/*transform: scale(2); transform-origin: bottom;  margin-left: -275px; */
		left: 0; margin: 0;
	}

	.fancy-nav-button {
		font-size: 24px; width: 33%; height: 56px; margin: 0;
	}

	.fancy-nav-text {
		margin-top: 16px; width: 100%;
	}

	.fancy-nav-button img {
		display: none;
		width: 56px; height: 56px;
	}

	#show-info {
		min-width: 100%; width: 100%; margin-bottom: 44px; max-height: 90%; left: 0; margin: 0;
		overflow: auto; opacity: 1; /*transform: scale(2); transform-origin: bottom; margin-left: -240px; */
	}

	.show-info-content {
		width: auto;
		columns: 2;
		webkit-columns: 2;
		moz-columns: 2;
	}

	.show-info-row {
		max-width: 48%
		font-size: 14px !important; width: auto;
	}

	#home-title {
		height: auto;
	}

	#home-title-top {
		font-size: 65px; letter-spacing: 1px;
		margin-top: 10px; padding-top: 0px; line-height: normal;
	}

	#home-title-sub {
		font-size: 18px;
	}

	.home-nav {
		font-size: 20px;
	}

	#cpright {
		bottom: 1px;
		height: 10px;
		font-size: 8px;
		width: 100%; text-align: center;
	}

	.login-input {
		width: 100%; height: 38px; font-size: 28px;
	}

	#login-box {
		width: 90%; margin: 0 auto;
	}

	.login-label {
		font-size: 28px;
	}

	#go-button {
		font-size: 34px; height: 40px; width: 50%; margin-top: 30px; line-height: 40px; padding-top: 0px;
	}

	.home-anchor-div {
		margin-bottom: 20px; width: 100%;
	}

	.home-anchor {
		font-size: 20px;
	}

	#new-user {
		position: absolute; margin: 0 auto;
		width: 100%; height: 44px; font-size: 40px; font-weight: bold;
		padding-top: 10px; padding-bottom: 10px;
		color: #22DD22; font-family: 'Arial'; top: none;
		bottom: 4px; text-align: center; left: 0; background-color: #222;
	}

	#credits-div {
		width: 300px; font-size: 24px; margin-top: -100px;
	}
	.image-banner {
		display: none;
	}
}

