@import url('https://fonts.googleapis.com/css?family=Cinzel:900');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vibur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

html {
	font-family: Arial;
	height:100%;
	overflow:auto;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Firefox */
	    -ms-user-select: none; /* Internet Explorer/Edge */
	        user-select: none; /* Non-prefixed version, currently*/
}

body {
	min-height:100%;
    	margin: 0;
    	background:#984029;/*#8E3624;*/
	transition:0.8s;
	overflow: hidden;
	box-shadow: inset 0 0 500px black;
	margin-top:0px;
}

a {
	color:#660025;
	text-decoration:none;
}

a:hover {
	text-shadow: 0 0 4px #540a24; transition:0.8s;

}

p {
	color:#feffd4;
	font-weight:bold;
	font-family:'verdana';
	font-size:18px;
	padding:0;padding-top:6px; line-height:1; margin:0;
}

.quotes {
	color:#3508bd;
}


/*******************/
/*   LAYOUT STUFF  */
/*******************/

.title-box {
	min-width:100%; height:120px;
	top:0;
	margin-left:auto;
	margin-right:auto;
	z-index:2;
	padding:8px;
}

.title-top {
	font-size:95px;
	font-weight:bold;
	padding-top:15px;
	/*font-family: 'Cinzel', serif;*/
	font-family: 'Bangers', cursive;
	color:#feffd4;
	text-align:center;
	height:100%;
	line-height:100px;
	margin-top:-6px; margin-left:-12px;
	transform: rotate(-2deg);
	letter-spacing: 12px; transition:0.8s;
	text-shadow:6px 6px 0px #222; transition:0.8s;
}

.title-top:hover {
	text-shadow:6px 6px 6px #000; transition:0.8s;
}

.title-main {
	font-size:50px;
	font-weight:bold;
	font-family: 'Courgette', cursive;
	color:#252525;
	color:#A50B1D;
	text-align:center;
	height:auto;
	line-height:100%;
	letter-spacing:0px;
	transition:0.8s;
}

.title-sub {
	font-size:27px; font-weight:bold;
	color:#333;color: #15602C;
	font-family: 'Vibur', cursive;
	text-align:center;
	line-height:130%;
	transition:0.8s;
}

.content-main {
	z-index:1;
	width:740px;
	height:auto; max-height:100%;
	margin-top:10px; margin-bottom:60px;
	margin-left:auto; margin-right:auto;
	padding:2px;
	box-shadow: 0px 0px 10px 4px #222;
	background-color: #eddfb7; /*0F000F*/
	transition:0.8s;
	background-image: url("/static/images/lightPaper.jpg");
	background-repeat: repeat;
}

.content-text {
	height:auto;
	font-size:17px; font-weight:normal;
	text-align:justify;
	margin:10px;
	overflow:auto;
	padding-left:35px; padding-right:35px; padding-bottom:10px;padding-top:14px;
	line-height:130%;
	transition:0.8s;
}

.char-quote {
	width:100%; height:auto; font-size:28px;
	color: #15602C; text-align:center;
	margin-top: 20px; margin-bottom: 20px;
	font-family: 'Courgette', cursive; line-height:130%;
}

.char-image {
	max-width:680px; max-height:400px;
	/*background-color: rgb(152,64,41);*/
	float:right; margin-bottom:10px; margin-left:20px;
	box-shadow: 0px 0px 7px 0px #222;display:inline-block;
}

.char-image-img {
	height:400px; max-width:100%; overflow:hidden;
}

.next {
	color:#555; font-style:italic;
}

#chapterNumLabel {
	float:left;margin:0 auto;padding-left:50px; padding-right:50px;display:inline-block;margin:0 auto;
}

#pageNumLabel {
	float:left;padding-left:50px; padding-right:50px;display:inline-block;margin:0 auto;
}

#navLabel {
	float:left;padding-left:10px; padding-right:10px;display:inline-block;margin:0 auto;
	transition: 0.8s;
}

#navLabel:hover {
	background-color:#FFF;
}

#lightImage {
	float:left;width:30px; height:30px;padding-left:10px;padding-right:10px; display:inline-block;margin:0 auto;
	transition: 0.8s;
}

#lightImage:hover {
	background-color:#FFF;
}


/*******************/
/*   NAVBAR STUFF  */
/*******************/
.fancy-nav-box {
	position: fixed; bottom: 38px;
	margin-left: -372px; left:-372px;
	height: 70px; width: 744px;
	background-color: #222; opacity:0.6;
	padding-top: 2px; padding-bottom: 2px; transition:0.5s;
}
.fancy-nav-box:hover {
	opacity:1;
}

.fancy-nav-button {
	display: block; float:left;
	width: 244px; height: 66px;
	margin: 2px;
	color: #feffd4;	font-size: 20px; 
	vertical-align: middle; transition: 0.6s;
}

.fancy-nav-button:hover {
	background-color:#A50B1D;
}

.fancy-nav-image {
	background-color: red;
	width: 66px; height: 66px;
	margin: 2px;
}

.fancy-nav-text {
	height: 100%;
	line-height: normal; text-align:center;

}

.footer-box {
	position:fixed;
	bottom:0; height:34px; width:100%;
	background-color:#222; text-align:center;
	padding-top:4px;
	z-index:2;
	opacity:0.6;
} 
.footer-box:hover {
	opacity:1;
}

.navbar {
	bottom:0;	
	width:auto; height:32px; max-width:700px;
	z-index:3; text-align:center;
	display:inline-block; 
}

.navbar-box:after {
	display:table;
	clear:both;
}

.navImage { 
	transition:0.8s;

}

.navImage:hover {
	transform: rotate(360deg); filter: invert(30%); transition:0.8s;
}

#navButtons {
	float:left;padding-left:10px; padding-right:10px;
	margin-top: 2px;margin: 0 auto;
	width:auto; height:32px;display:inline-block;
}

.fontImage {
	float:left;
	width:30px;height:30px;
	border:1px solid #feffd4;
	border-radius:4px;

}

#fontSizes {
	width:auto; height:32px; float:left; padding-left:10px; padding-right:10px;
	text-align:center;margin:0 auto;
	bottom:2px;display:inline-block;
}

.fontImage {
	width:30px;height:30px;
	border:1px solid #feffd4;
	border-radius:4px;
}

.fontImage:hover {
	transform: rotate(360deg); filter: invert(30%); transition:0.8s;
}

#donate {
	position: fixed; bottom:0;
	left:50%; margin-left:140px; margin-bottom:34px;
	width:150px; height:30px; border-radius:8px 8px 0px 0px;
	background-color:#3e2a24; color:#AAA; border:1px solid #AAA; z-index:1;
	text-align:center; font-size:18px; padding-top:4px;transition:0.3s;
}

#donate:hover {
	border:1px solid #FFF; font-size:22px; padding:8px;
	cursor:pointer; transition:0.8s; filter:invert(100%);
}


/*******************/
/* CHARACTER STUFF */
/*******************/

.character-box {
	position: fixed;
	top:10%;left:1%;
	width: 120px; height: 120px;
	border-radius: 55px;
	border:4px solid #66BBFF;
	background:#000000;
	background-repeat:no-repeat;
    	background-attachment: fixed;
	background: linear-gradient(#190019 50%, #601060 85%, #881088);
	background-repeat:no-repeat;
    	background-attachment: fixed;
}

.firstword {
	font-weight:bold;
	font-size:24px;
	color:#440044;
	font-family: 'Cinzel', serif;
	padding-left:5px;
}


@media only screen and (orientation:portrait){
	.title-box {
		height:70px;
	}
	.title-top {
		font-size:44px;
		margin-top:-14px;
		height:100%;
	}

	.title-main {
		height:auto;
		font-size:34px;
	}

	.title-sub {
		font-size:20px;
		font-weight:bold;
	}

	.content-main {
		width:98%;
	}

	.content-text {
		font-size:17px;
		padding:10px;
	}

	#chapterNumLabel {
		padding-left:10px; padding-right:10px;
	}
	
	#pageNumLabel {
		padding-left:10px; padding-right:10px;
	}

	#navLabel {
		padding-left:10px; padding-right:10px;
	}

	#donate {
		margin-left:85px;
	}
	
	.footer-box {
		transform: scale(1.0);
	}

	#donate {
	}

	.char-image {
		max-width:100%; max-height:300px;
		min-width:100%; min-height:140px;
		float:none; display:inline-block; text-align:center; margin:0 auto;
		box-shadow:none; margin-bottom:20px;
	}

	.char-image-img {
		height:300px; max-width:100%; overflow:hidden;
	}
}

