<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Squadventurers</title>
	<link rel="stylesheet" href="/static/bored.css">
</head>

<body>
	<a href="/logout"><div id="logout-box"><img src="/static/images/logout.png" width=40 height=40 /></div></a>
	<div class="title-box">
        	<div class="title-top">SQUADVENTURERS</div>
    	</div>

	<div class="content-main">
	   <div class="content-text">
		<div class="title-main">
			{{ entity.name }}
		</div>

		<div class="char-quote">
			{{ quote }}
		</div>

		<div class="char-image">
			<img class="char-image-img" src="/static/images/{{ entity.name }}.png" />
		</div>
		{{ entity.description|safe }}
	   </div>
	</div>

    <!--<div class="character-box"><img src="images/test.png" width=120 height=120 /></div>-->
</body>
</html>
