<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Squadventurers</title>
	<link rel="stylesheet" href="/static/bored.css">
	<script type="text/javascript">
		function navigate(chapter, page) {
			window.location.assign("/" + chapter + "/" + page);
		}
		function fontScale(n) {
			var t = document.getElementById("content-text");
			t.style.fontSize = n + "px";
		}
	</script>
</head>

<body style="background-color:#333;">
	<div id="home-title">
		<div> 
			<div id="home-title-top">SQUADVENTURERS</div>
		</div>
		<div id="home-title-sub" style="font-family: 'Courgette', cursive; margin-top:30px; font-size: 42px; color: #feffd6;">
			The online book series!
		</div>
	</div>
	<div id="home-div">
		<div>
			<div class="home-nav" onclick=navigate(1,1)>1.&nbsp;&nbsp;What's the worst that could happen?</div>
		</div>
	</div>
</body>
</html>

