<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>StoryBored</title>
	<link rel="stylesheet" href="/static/bored.css">
	<script type="text/javascript">
		function navigate(chapter, page) {
			window.location.assign("/chapter/" + chapter + "/" + page);
		}
		function fontScale(n) {
			var t = document.getElementById("content-text");
			t.style.fontSize = n + "px";
		}
	</script>
</head>

<body>
	<div class="title-box">
        	<div class="title-main">TEMP TITLE</div>
	</div>
	<div class="footer-box">
		<div class="navbar">
			<div id="navButtons">
			</div>
			<div id="fontSizes">
				<img class="fontImage" src="/static/images/font1.png" onClick=fontScale(17) />
				<img class="fontImage" src="/static/images/font2.png" onClick=fontScale(22) />
				<img class="fontImage" src="/static/images/font3.png" onClick=fontScale(27) />
			</div>
		</div>
	</div>

   <div class="content-main">
   <div class="title-main">Welcome</div>
	   <div class="title-sub">You sombitch</div>
	   <div class="content-text" id="content-text">GTFO and read <a href="/chapter/1/1">here</a></div>
    </div>
    

    <!--<div class="character-box"><img src="images/test.png" width=120 height=120 /></div>-->
</body>
</html>

