<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="niewport" content="width=device-width,initial-scale=1">
	<title>Squadventurers</title>
	<link rel="stylesheet" href="/static/bored.css">
	<script type="text/javascript">
		function idiot() {
			alert("You're an idiot then aren't you");
		}
	</script>
</head>

<body style="background-color:#333;">
	<div id="home-body">
	<div id="home-title">
		<div> 
			<div id="home-title-top">SQUADVENTURERS</div>
			<div id="home-title-top" style="color: #CCEEFF; transform: scale(0.6); margin-top: 6px; margin-left: 10px;">Login:</div>
		</div>
	</div>
	<div id="home-div">
		{% if newName != "" %}
			<div id="new-user">Success, we added you: {{ newName }}!</div>
		{% endif %}

		<div id="login-box">
			<form action="{{ url_for('home') }}" method="post">
				<!--<div class="login-label">User Name:</div>-->
				<input class="login-input" name=user type=text placeholder="(username)" />
				<!--<div class="login-label">Password:</div>-->
				<input class="login-input" name=userpass type=password placeholder="(password)" />
				<div style="width:100%; text-align: center;"><input type=submit id="go-button" value="Go!" /></div>
			</form>
			<div style="margin-top: 24px; text-align: center;"><a class="home-anchor" href="/createUser" style="color: #feffd6; text-decoration: underline;">Create Account</a><br/><br/><a class="home-anchor" href="#" style="color: #fea6a6; text-decoration: underline;" onclick=idiot()>Forgot Password</a>
			<br/><br/><a class="home-anchor" href="/freeRead" style="color: #CCEEFF; text-decoration: underline;">What's that, I can get a free read!?</a></div>
		</div>
	</div>
	<div id="cpright">Unpublished work &copy; 2020 Ross Campbell All Rights Reserved</div>
	</div>
</body>
</html>
