<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
	<title>Squadventurers</title>
	<link rel="stylesheet" href="/static/bored.css">
	<script type="text/javascript">
		window.dimmerSwitch = true;
		function navigate(page) {
			window.location.assign("/" + page);
		}
		function navMenu() {
			var fb = document.getElementsByClassName("fancy-nav-box")[0];
			if (fb.style.bottom == "-70px") {
				fb.style.bottom="37px";
			} else {
				fb.style.bottom="-70px";
			}
		}
		function changeChapter(page, chapter, move) {
			if (move == 'next') {
				window.location.assign("/" + (page + 1) + "/" + (chapter + 1));
			} else {
				window.location.assign("/" + (page - 1) + "/" + (chapter - 1));
			}
		}

		function fontScale(n) {
			var t = document.getElementById("content-text");
			t.style.fontSize = n + "px";
		}

		function quotePretty() {
			//dimmer cookie
			var dimmerCookie = document.cookie;
			dimmerCookie = dimmerCookie.split(';');
			dimmerCookie = dimmerCookie[0];

			if (dimmerCookie.includes("false")) {
				dimmerSwitch = dimmerCookie;
				dimmer();
			}

			var t = document.getElementById("content-text");
			var txt = t.innerHTML;
			var first = true;
			for (const c of txt) {
				if (c == "\"") {
					if (first) {
						txt.replace(c, "<span class=quote>\"");
					} else {
						txt.replace(c, "\"</span>");
					}	
					first = !first;
				}
			}
			t.innerHTML = txt;
			return true;
		}

		function dimmer() {
			var i = document.getElementById("lightSwitch");
			var b = document.getElementsByTagName("BODY")[0];
			var cm = document.getElementsByClassName("content-main")[0];
			var ct = document.getElementsByClassName("content-text")[0];
			var t = document.getElementsByClassName("title-sub")[0];
			var tm = document.getElementsByClassName("title-main")[0];
			var tt = document.getElementsByClassName("title-top")[0];
			var anchors = document.getElementsByTagName("a");
			var acolour = "#660025";

			if (dimmerSwitch) {
				i.src = "/static/images/lightOff.png";
				b.style.backgroundColor = "#222";
				cm.style.backgroundColor = "#333";
				cm.style.backgroundImage="none";
				ct.style.color = "#999";
				acolour = "#8b7896";
				tt.style.color = acolour;
				try {
					tm.style.color = "#999";
					t.style.color = "#999";
				} catch (err) { }

			} else {
				i.src = "/static/images/light.png";
				b.style.backgroundColor = "#984029";
				//cm.style.backgroundColor = "#EFEFE3";
				cm.style.backgroundImage="url('/static/images/lightPaper.jpg')";
				ct.style.color = "#000";
				acolour = "#660025";
				tt.style.color = "#feffd4";
				try {
					tm.style.color = "#A50B1D";
					t.style.color = "#10470E";
				} catch (err) {}
			}

			for (var i=0; i<anchors.length;i++) {
				anchors[i].style.color = acolour;
			}

			dimmerSwitch = !dimmerSwitch;
			document.cookie = "dimmerCookie=" + dimmerSwitch + ";";
		}
	</script>
</head>

<body onload="quotePretty()">
	<div class="fancy-nav-box" style="bottom: -70px;" onmouseleave=navMenu()>
		<div class="fancy-nav-button"><img width=66 height=66 src="/static/images/contents.png" class="fancy-nav-img" /><span class="fancy-nav-text">Contents</span></div>
		<div class="fancy-nav-button"><img width=66 height=64 src="/static/images/characters.png" class="fancy-nav-img" /><span class="fancy-nav-text">Characters</span></div>
		<div class="fancy-nav-button"><img width=66 height=66 src="/static/images/places.png" class="fancy-nav-img" /><span class="fancy-nav-text">Places</span></div>
	</div>
	<div class="title-box">
        	<div class="title-top">SQUADVENTURERS</div>
	</div>

   	<div class="content-main">
    		<div class="content-text" id="content-text">{{ thisPage.pageText|safe }}</div>
    	</div>

	{% set cn = thisPage.chapterNum %}
	{% set pn = thisPage.absoluteCount %}

	<div class="footer-box">
		<div class="navbar">
			<div id="lightImage">
				<img src="/static/images/light.png" id='lightSwitch' onClick=dimmer() />
			</div>
			<div id="chapterNumLabel">
				<p>Ch: {{ cn }}</p>
			</div>
			<div id="navButtons">


				{% if cn != 1 %}
				<img class="navImage" src="/static/images/backChapter.png" onClick="changeChapter({{ pn }}, {{ cn }}, 'prev')" />
				{% else %}
				<img class="navImage" src="/static/images/backChapter.png" onClick="changeChapter(1, 2, 'prev')" />
				{% endif %}



				{% if (pn != 1) %}
					<img class="navImage" src="/static/images/backPage.png"    onClick="navigate({{ pn - 1 }})" />
				{% else %}
					<img class="navImage" src="/static/images/backPage.png" />
				{% endif %}



				{% if pn < 400 %}
					<img class="navImage" src="/static/images/nextPage.png"    onClick="navigate({{ pn + 1 }})" />
				{% endif %}



				{% if cn != 40 %}
				<img class="navImage" src="/static/images/nextChapter.png" onClick="changeChapter({{ pn }}, {{ cn }}, 'next')" />
				{% endif %}
			</div>
			<div id="fontSizes">
				<img class="fontImage" src="/static/images/font1.png" onClick=fontScale(17) />
				<img class="fontImage" src="/static/images/font2.png" onClick=fontScale(22) />
				<img class="fontImage" src="/static/images/font3.png" onClick=fontScale(27) />
			</div>
			<div id="pageNumLabel">
				<p>P: {{ pn }}</p>
			</div>
			<div id="navLabel">
				<img src="/static/images/gear.png" onClick=navMenu() />
			</div>
		</div>
	</div>
    
	<!--	<div id="donate">Donate!</div>-->

    <!--<div class="character-box"><img src="images/test.png" width=120 height=120 /></div>-->
</body>
</html>

