<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Squadventurers</title>
	<link rel="stylesheet" href="/static/bored.css">
	<script type="text/javascript" src="{{ url_for('static', filename='savajript.js') }}"></script>
</head>

<body onload="start()">
	{% set cn = thisPage.chapterNum %}
	{% set pn = thisPage.absoluteCount %}
	
	{% if free == True %}
		<div id=free-box>
			Buy the full book<br/>
			<img src="/static/images/purchase.png" width=70 id=purchase-img onclick=buy({{ bNum }}) />
		</div>
	{% endif %}

	<div id="hint"></div>

	{% if free == False %}
		<a href="/logout"><div id="logout-box"><img src="/static/images/logout.png" width=40 height=40 /></div></a>
	{% endif %}
	<a href="/home"><div id="logout-box" style="left: 48px;"><img src="/static/images/home.png" width=40 height=40 /></div></a>
	<div id="show-info" style="bottom:-10px;" onmouseleave=show(null)>
		<div class="show-info-content" id="Contents-div">
			{% set nextcn = namespace(value=0) %}
			{% for chapter in contents %}
				<div class="show-info-row" onClick="changeChapter({{ pn }}, {{ nextcn.value }}, 'next')" style="text-align:left;">{{ chapter }}</div>
				{% set nextcn.value = nextcn.value + 1 %}
			{% endfor %}
		</div>

		<div class="show-info-content" id="Characters-div">
			{% for char in characters %}
			<div class="show-info-row"><a target=_blank href=/bio/{{ char.split(',')[0] }} style="color:#feffd6;">{{ char }}</a></div>
			{% endfor %}
		</div>

		<div class="show-info-content" id="Places-div">
			{% for place in places %}
			<div class="show-info-row"><a target=_blank href=/bio/{{ place }} style="color:#feffd6;">{{ place }}</a></div>
			{% endfor %}
		</div>
	</div>

	<div class="fancy-nav-box" style="bottom: -74px;" onmouseleave=navMenu()>
		<div onclick="show('Contents')" class="fancy-nav-button"><img width=66 height=66 src="/static/images/contents.png" class="fancy-nav-img" /><span class="fancy-nav-text">Contents</span></div>
		<div  onclick="show('Characters')"class="fancy-nav-button"><img width=66 height=64 src="/static/images/characters.png" class="fancy-nav-img" /><span class="fancy-nav-text">Characters</span></div>
		<div  onclick="show('Places')"class="fancy-nav-button"><img width=66 height=66 src="/static/images/places.png" class="fancy-nav-img" /><span class="fancy-nav-text">Places</span></div>
	</div>


	<div class="title-box">
        	<div class="title-top" onclick=gohome()>SQUADVENTURERS</div>
	</div>


   	<div class="content-main">
		<div class="image-banner">Check out character bios<br/>for new pics!</div>
    		<div class="content-text" id="content-text">{{ thisPage.pageText|safe }}</div>
    	</div>

	<div class="footer-box">
		<div class="navbar">
			<div id="lightImage" onClick=dimmer()>
				<img src="/static/images/light.png" id='lightSwitch' />
			</div>
			<div id="chapterNumLabel">
				<p>Ch: {{ cn }}</p> <!--style="color: #C02525;"-->
			</div>
			<div id="navButtons">


				{% if cn != 1 %}
				<img class="navImage" src="/static/images/backChapter.png" onClick="changeChapter({{ pn }}, {{ cn }}, 'prev')" />
				{% else %}
				<img class="navImage" src="/static/images/backChapter.png" onClick="changeChapter(1, 2, 'prev')" />
				{% endif %}



				{% if (pn != 1) %}
					<img class="navImage" src="/static/images/backPage.png"    onClick="navigate({{ pn - 1 }})" />
				{% else %}
					<img class="navImage" src="/static/images/backPage.png" />
				{% endif %}



				{% if pn < 400 %}
					<img class="navImage" src="/static/images/nextPage.png"    onClick="navigate({{ pn + 1 }})" />
				{% endif %}



				{% if cn != 40 %}
				<img class="navImage" src="/static/images/nextChapter.png" onClick="changeChapter({{ pn }}, {{ cn }}, 'next')" />
				{% endif %}
			</div>
			<div id="fontSizes">
				<img class="fontImage" src="/static/images/font1.png" onClick=fontScale(17) />
				<img class="fontImage" src="/static/images/font2.png" onClick=fontScale(22) />
				<img class="fontImage" src="/static/images/font3.png" onClick=fontScale(27) />
			</div>
			<div id="pageNumLabel">
				<p>P: {{ pn }}</p> <!--style="color: #22903c;"-->
			</div>
			<div id="navLabel">
				<img src="/static/images/gear.png" onClick=navMenu() />
			</div>
		</div>
	</div>

	<div id="cpright">Unpublished work &copy; 2020 Ross Campbell All Rights Reserved.  RC AUTHOR LTD.</div>

	<!--	<div id="donate">Donate!</div>-->

    <!--<div class="character-box"><img src="images/test.png" width=120 height=120 /></div>-->
</body>
</html>

